@model Sklad.Models.Product

@{
    ViewData["Title"] = "Обновить";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="Name" value="@Model.Name" />
            <input type="hidden" asp-for="CurrentCount" value="@Model.CurrentCount" />
            <input type="hidden" asp-for="Description" value="@Model.Description" />
            <input type="hidden" asp-for="YearOfIncome" value="@Model.YearOfIncome"/>
            <h4>Описание</h4>
            <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Наименование
                            </th>
                            <th>
                                Описание
                            </th>
                            <th>
                                Количество на складе
                            </th>
                            <th>
                                Год прихода партии
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.Name
                            </td>
                            <td>
                                @Model.Description
                            </td>
                            <td>
                                @Model.CurrentCount
                            </td>
                            <td>
                                @Model.YearOfIncome
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label asp-for="CanBeGiven" class="control-label">Готово к выдаче</label>
                <input asp-for="CanBeGiven" class="custom-checkbox" />
                <span asp-validation-for="CanBeGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountToGive" class="control-label">Количество к выдаче</label>
                <input asp-for="CountToGive" class="form-control" />
                <span asp-validation-for="CountToGive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Обновить" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Назад к списку</a>
            </div>
        </form>
    </div>
</div>
