@model IEnumerable<Sklad.Models.Income>

@{
    ViewData["Title"] = "Incomes";
}

<h1>Приход</h1>

<form asp-action="Incomes">
    <div class="input-group mb-3">
        <span style="min-width: 130px; max-width: 130px" class="input-group-text" id="basic-addon1">Наименование</span>
        <input type="text" name="Name" value="" style="width: 15%" id="Name"/>
        <span style="min-width: 130px; max-width: 130px" class="input-group-text" id="basic-addon1">Описание:</span>
        <input type="text" name="Description" value="" style="width: 15%" id="Description"/>
    </div>
    <div class="input-group mb-3">
        <span style="min-width: 130px; max-width: 130px" class="input-group-text" id="basic-addon1">Год партии</span>
        <input type="text" name="YearOfIncome" value="@ViewBag.ModelToFind" style="width: 15%" id="Model"/>
    </div>

    <div class="form-group">
        <label class="control-label">Категория</label>
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            foreach (var item in ViewBag.Categories)
            {
                listItems.Add(new SelectListItem()
                {
                    Text = item.Name,
                    Value = item.Id.ToString()
                });
            }
            @Html.DropDownList("CategoryName", listItems, "---------",new {@class = "dropdown-list"})
        }
    </div>

    <div>
        Точный поиск: <input style="padding-left: 10px" type="checkbox" name="ExactMatch" value="true"/>
    </div>

    <input style="padding-bottom: 10px" type="submit" class="btn btn-primary" value="Поиск"/>
</form>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Описание
        </th>
        <th>
            Категория
        </th>
        <th>
            Количество
        </th>
        <th>
            Дата
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Product.Name
            </td>
            <td>
                @item.Product.Description
            </td>
            <td>
                @item.Product.Category?.Name
            </td>
            <td>
                @item.Count
            </td>
            <td>
                @item.Date.ToString("d")
            </td>
        </tr>
    }
    </tbody>
</table>

