@model IEnumerable<Product>

<h1>Список позиций в комнате 205</h1>

<a asp-action="NewProduct" class="btn btn-primary">Новая позиция</a>

<script>
    $(document).ready(function () {
        $("#tb1").tablesorter();
    });
</script>

<div>
    <form asp-action="Index">
        <div class="input-group mb-3">
            <span style="min-width: 130px; max-width: 130px" class="input-group-text" id="basic-addon1">Наименование</span>
            <input type="text" name="Name" value="" style="width: 15%" id="Name" />
            <span style="min-width: 130px; max-width: 130px" class="input-group-text" id="basic-addon1">Описание:</span>
            <input type="text" name="Description" value="" style="width: 15%" id="Description" />
        </div>
        <div class="input-group mb-3">
            <span style="min-width: 130px; max-width: 130px" class="input-group-text" id="basic-addon1">Год партии</span>
            <input type="text" name="YearOfIncome" value="@ViewBag.ModelToFind" style="width: 15%" id="Model" />
            <span style="min-width: 130px; max-width: 130px" class="input-group-text" id="basic-addon1">Заявитель</span>
            <input type="text" name="Applicant" value="@ViewBag.NaimToFind" style="width: 15%" id="Naim"/>
        </div>

        <div class="form-group">
            <label class="control-label">Категория</label>
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                foreach (var item in ViewBag.Categories)
                {
                    listItems.Add(new SelectListItem()
                    {
                        Text = item.Name,
                        Value = item.Id.ToString()
                    });
                }
                @Html.DropDownList("CategoryName", listItems, "---------")
            }
        </div>

        <div>
            Точный поиск: <input style="padding-left: 10px" type="checkbox" name="ExactMatch" value="true"/>
        </div>

        <input style="padding-bottom: 10px" type="submit" class="btn btn-primary" value="Поиск" />
    </form>
    
</div>



<table id="tb1" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Текущее количество
                </th>
                <th>
                    Год прихода партии
                </th>
                <th>
                    Б/У
                </th>
                <th>
                    Заявитель
                </th>
                <th>
                    Выдача/Получение
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="EditProduct" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Category?.Name
                    </td>
                    <td>
                        @item.CurrentCount
                    </td>
                    <td>
                        @item.YearOfIncome
                    </td>
                        @if(item.Used){
                            <td>
                            Б/У
                            </td>
                        }else{
                            <td>
                            Новый
                            </td>
                        }
                    <td>
                        @item.Applicant
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Outcome" asp-route-id="@item.Id">Выдача</a>
                        <a class="btn btn-primary" asp-action="Income" asp-route-id="@item.Id">Получение</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


