@model IEnumerable<Product>

<h1>Список позиций в комнате 205</h1>

<a asp-action="NewProduct" class="btn btn-primary">Новая позиция</a>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Текущее количество
                </th>
                <th>
                    Год прихода партии
                </th>
                <th>
                    Заявитель
                </th>
                <th>
                    Выдача/Получение
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="EditProduct" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.CurrentCount
                    </td>
                    <td>
                        @item.YearOfIncome
                    </td>
                    <td>
                        @item.Applicant
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Outcome" asp-route-id="@item.Id">Выдача</a>
                        <a class="btn btn-primary" asp-action="Income" asp-route-id="@item.Id">Получение</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>